{% extends "base.html" %}
{% block content %}
<img src="static/kidswhocode.jpg" width=250px id="center-image">
<br>
<br>
<p>
Hello!
<br>
My name is Nicholas Harris, and I am a 14 year old programmer from California. Every week (or whenever I get around to it) I put out a new episode for this podcast.
Kids Who Code is a podcast written by a teen and for teens (and younger). I talk about recent events in the tech world, as well as some of my own projects.
Some of the things I feature:
<ul>
<li>Raspberry Pi</li>
<li>Python</li>
<li>Minecraft</li>
<li>Interviews</li>
</ul>
That's right, I also do interviews. So far, I've <a href="/episode/Episode-Eighteen:-Pi-Wars-(Guest:-The-Raspberry-Pi-Guy)">interviewed Matt, the Raspberry Pi Guy</a>, and <a href="/episode/Episode-Nineteen:-Minecraft-Plugin-Development-%28Guest:-Jamie-Sinn%29">Jamie Sinn, lead developer of the Minecraft server EcoCityCraft</a>. I plan to do more interviews, to, and many different topics!
If you want to be interviewed, you can <a href="http://www.scarabcoder.com/contact">contact me here</a>.
<br>
<br>
You can also <a href="http://www.scarabcoder.com">view my main website, ScarabCoder.com, by clicking here</a>.
<br>
<br>
<br>
This website was built with Python and HTML, using the Flask and Jinja2 libraries. 
</p>
{% endblock %}
